<div>
  <p><%= @employee.name %></p>
  <p><%= @employee.last_name %></p>
  <p><%= @employee.current_position %></p>
  <p><%= @employee.birthdate %></p>
  <p><%= @employee.date_of_employing %></p>
  <p><%= @employee.email %></p>
</div>