<h3>Vacation Application</h3>
<h2><%= @employee.last_name %> <%= @employee.name %> <%= @employee.middle_name %></h2>

<p>please let me go on vacation on <%= @vacation.duration %> days from <%= @vacation.start_date.strftime('%d.%m.%Y') %> to <%= @vacation.end_date.strftime('%d.%m.%Y') %></p>